<%= form_tag import_invoices_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>
<h2>
  Total Revenue: <%= number_to_currency @sum %>
</h2>
<%= button_to "CLEAR", { controller: :invoices, action: 'destroy' }, method: :delete %>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Item Description</th>
      <th>Item Price</th>
      <th>Quantity</th>
      <th>Merchant Name</th>
      <th>Merchant Address</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.customer_name %></td>
        <td><%= invoice.item_description %></td>
        <td><%= number_to_currency invoice.item_price %></td>
        <td><%= invoice.quantity %></td>
        <td><%= invoice.merchant_name %></td>
        <td><%= invoice.merchant_address %></td>
        <td><%= number_to_currency invoice.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
